atendimento-whatsapp/n8n-flows/fase1-menu.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "otica-whatsapp"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-num",
              "leftValue": "={{ $json.body.data.key.remoteJid }}",
              "rightValue": "5516982203407@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Só número de teste",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution-api:8080/message/sendText/otica-sanre",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "512c99c52078d2f1d9d7462e551dcb6ea82011b9812531988a45ee2c189b0d1d"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.body.data.key.remoteJid.split('@')[0] }}"
            },
            {
              "name": "text",
              "value": "Olá! 👓 Seja bem-vindo(a) à Ótica SANRE!\n\nPara começar, me conta: você já é nosso cliente?\n\nResponda com o número da opção:\n\n*1* - Já sou cliente\n*2* - Não sou cliente"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Enviar Menu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 220]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [ { "node": "Só número de teste", "type": "main", "index": 0 } ]
      ]
    },
    "Só número de teste": {
      "main": [
        [ { "node": "Enviar Menu", "type": "main", "index": 0 } ],
        []
      ]
    }
  }
}
